{% extends "base.html" %}
{% block content %}
<html>

<head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div class="field">
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="select">
                <select>
                  <option> Interview Pitch</option>
                  <option> Pickup Lines </option>
                  <option> Wise words </option>
                  <option> Technology  </option>
                </select>
                </div>
                
            <div class="field">
                <label>Category: </label>
                {% if form.title.errors %}
                {{ form.title(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="field">
                <label>Content: </label>
                {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            </fieldset>
            <button class="btn btn-warning">
                {{ form.submit(class="btn btn-success") }}
            </button>
        </form>
    </div>
</body>

</html>
{% endblock content %}